.h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  color: #ccc;
  text-align: center;
}
.btn1{
  padding-left: 50px;
  padding-right: 50px;
  border: none;
  border-radius: 5px;
  background-color: #ccc;
  color: #0A1121;
  cursor: pointer;
  font-size: 30px;
  transition: 1s;
}
.btn2{
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  border-radius: 5px;
  background-color: #ccc;
  color: #0A1121;
  cursor: pointer;
  font-size: 30px;
  transition: 1s;
}
.btn1:hover{
  color: #ccc;
  background: #0A1121;
  box-shadow: 1px 1px 20px #ccc;
  transition: 1s;
  transform: scale(1.1);
}
.btn2:hover{
  color: #ccc;
  background: #0A1121;
  box-shadow: 1px 1px 20px #ccc;
  transition: 1s;
  transform: scale(1.1);
}
.container-form{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 100px
}
.container-inicio{
  height: 300px;
  width: 800px;
  background: #0f1931;
  margin-top: 100px;
  padding-top: 15px;
  padding-bottom: 60px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px rgb(0, 0, 22);
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* register  */

.container-register{
  background: #0f1931;
  padding: 20px;
  
  width: 200px;
  border-radius: 20px;
  box-shadow: 1px 1px 20px black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container-inp{
  display: grid;
  align-items: center;
  justify-content: center;  
}
.titulo-register{
  text-align: center;
  color: #ccc;
}
.inp{
  margin-top: 20px;
  background-color: #ccc;
  border: none;
  border-radius: 2px;
  padding: 5px;
}
.btn-register{
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: #ccc;
  color: #0A1121;
  cursor: pointer;
  transition: 1s;
}
.btn-register:hover{
  color: #ccc;
  background: #0A1121;
  box-shadow: 1px 1px 20px #ccc;
  transition: 1s;
  transform: scale(1.1);
}